.emer {
    background: rgb(44, 184, 184);
    width: 20%;
    text-align: left;
    padding: 25px;
    min-height: 50px;
    border-radius: 20px;
    position:fixed;
    left: 40%;
    top: 10%;
    display: none;
  }
  #cerrar {
    position: fixed;
    right: 15px;
    top: 10px;
  }
  .emer .colum > a {
    color: white;
    text-decoration: none;
  }

  .container {
    position: relative;
    box-shadow: 2px 2px 2px 2px #222831;
    background-color: #ffff;
    width: 96%;
    padding: 5px 0 5px 60px;
  }

  .columns{
      padding: 5px 0 5px 60px;
      text-align: left;
  }
  h1{
    font-family: Arial, Helvetica, sans-serif;
    color: cornflowerblue;
  }
  h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(20, 108, 114);
  }
  h3{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(20, 108, 114);
  }

.formulario input[type="text"]{
  width: 35%;
	background: white;
	border: 3px solid rgba(163,163,163, 0.4);
	border-radius: 15px;
	height: 20px;
	line-height: 10px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
  
}

input:focus{
    border: 3px solid #0075FF;
	  outline:auto;
	  box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}
button{
  height: 45px;
	line-height: 45px;
	width: 10%;
	background: #0075FF;
	color: white;
	font-weight: bold;
	border: grey;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
  text-align: center;
}
button:hover{
  background-color: #328ff9;
}
.formulario > div {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}
.formulario .radio label,
.formulario .radio2 label {
  padding: 5px 15px;
  position: relative;
  font-size: 1em;
  border-radius: 3px;
  cursor: pointer;
  background-color: rgba(0,0,0,.1);
  display: inline-block;
  color: #0075FF;
}
.formulario .radio label:hover,
.formulario .radio2 label:hover {
  background: rgba(0,116, 217, 0.2);
}
/*.formulario .radio label:before,
.formulario .radio2 label:before{
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  background: none;
  border: 3px solid #0075FF;
  border-radius: 50%;
  position: absolute;
  left: 17px;
  top: 4px;
}